<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SMG</title>
    
    <!-- Bootsrap link -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Press Start Font from Google-->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    
  </head>
  
  <body>
  	<!-- HEADER -->
  	<div th:replace="layouts/header :: header"></div >
  	
  	<!-- CONTENT -->
  	<section layout:fragment="content" style="margin-top:20px;">Needs content</section>
  	
  	<!-- FOOTER -->
  	<div th:replace="layouts/footer :: footer"></div >
	<script src="/js/bootstrap.min.js"></script>
  </body>
  
  
  
</html>