<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SMG | Sign up</title>
    
    <!-- Bootsrap link -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    
  </head>
  <body>
  <form class="container box justify-content-center" action="#" method="post">
   <a class="navbar-brand text-dark" href="#">
                <h1>Customer Signup</h1>
            </a>
            <div class="row justify-content-center">
                <div class="col-1"></div>
                <div class="col-10">
	            <input class="form-control" type="text" name="name" placeholder="Full Name">
	            <input class="form-control" type="email"name="mail" placeholder="Email">
	            <input class="form-control" type="text" name="username" placeholder="Username">
	            <input class="form-control" type="password" name="password" placeholder="Password">
	            <input class="form-control" type="password" name="re-pass" placeholder="Re-Type Password">
	            <input class="btn btn-outline-success btn-lg mb-3" type="submit" name="signup" value="Sign Up">
	            <p class="message">Already Registered? <a href="/login">Log In</a></p>
	            </div>
                <div class="col-1"></div>
            </div>
  </form>
  </body>
</html>